@page "/"
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;

<div class="main">
    <h1>Blazzing Pizzas</h1>
    <ul class="pizza-cards">
        @if (sPizzas is not null)
        {
            @foreach (var sPizza in sPizzas)
            {
                <li style="background-image: url('@sPizza.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@sPizza.Name</span>
                            @sPizza.Description
                        <span class="price">@sPizza.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@code {
    List<PizzaSpecial> sPizzas = new();

        protected override async Task OnInitializedAsync()
        {
            sPizzas = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "specials");
        }
}
		

